<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nullndvoid.xyz tempmail generator!</title>
    <script type="module" src="/static/main.js"></script>
</head>

<body>
    <h1>Temporary Email Generator!</h1>
    <p>
        Use this amazing website to generate temporary email addresses for signing up to sites etc.
    </p>
    <form id="new-mailbox-form" action="/api/email" method="post">
        <button id="new-mailbox-submit" type="submit">Get a temp email!</button>
    </form>
</body>

</html>